# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variables file
.env
.env.test
.env.production

# System Files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Compiled
build/