:root {
  --light-bg: #FAFAFA;
  --light-text: #1A1A1A;
  --dark-bg: #1A1A1A;
  --dark-text: #FAFAFA;
}

body {
  background: var(--light-bg);
  color: var(--light-text);
}

.dark {
  background: var(--dark-bg);
  color: var(--dark-text);
}

.light {
  background: var(--light-bg);
  color: var(--light-text);
}

#layers {
  position: relative;
  margin: 0 auto;
}

.layer {
  position: absolute;
  left: 0px;
  top: 0px;
}

#gb-layer {
  z-index: 1;
}

#game-layer {
  z-index: 2;
}

#ui-layer {
  z-index: 3;
}